
<h1>GMaps - Mashup Project (CR)</h1>
<div class="row">

  <div class="col-md-9">
    <br />
    <br />
    <div id="map" style="width: 800px; height: 600px;"></div>
    <br />
  </div>

  <div class="col-md-3">
    <br />
    <h1>Marked Places</h1>
    <div id="MarkerList">
    </div>
    <br>
    <div id="divImages">

    </div>
  </div>

  </div>
</div>



<script>

  _500px.init({
    sdk_key: 'SDK_Key'
  });

  function GetPhotos(lat, lng, radius){

    $('#divImages > img').remove();
  
    var geoInfo = lat.toString() + ', ' + lng.toString() + ', ' + radius.toString();

    // _500px.api('/photos/search', { geo: '49.286621, -123.163348, 1km', image_size: 600 }, function (response) {  
    _500px.api('/photos/search', { geo: geoInfo, image_size: 200 }, function (response) {  
        // for (var i = 0; i < response.data.photos.length; i++){
        for (var i = 0; i < 5; i++){
          $('#divImages').append('<img src=' + response.data.photos[i].image_url + ' />')
        }
    });

  };

  
  var gmarkers1 = [];
  var markers1 = [];
  imageUrl = []
  
  markers1 = [
    ['0', "English Bay", 49.286621, -123.163348],
    ['1', '574 Granvill Street', 49.283519, -123.115415],
    ['2', '333 Terminal Ave', 49.272415, -123.095843],
    ['3', '715 Kingsway', 49.256037, -123.087897],
    ['4', 'Stanley Park', 49.3017, -123.1417],
    ['5', 'University of British Columbia', 49.261193, -123.248730],
    ['6', 'H. R. MacMillan Space Centre', 49.276346, -123.144407]

  ];


  for(i = 0; i < markers1.length; i++){
    marker = markers1[i];
    $("#MarkerList").append('<input type="checkbox" checked="true" name="' 
      + marker[1] + '" id="' + marker[0] + '">  <label for="id' 
      + i + '">' + marker[1] + '</label><br>');
  } 
  
  function initMap() {
    var infowindow = new google.maps.InfoWindow({content:''});
    var myLatLng = {lat: 49.2820, lng: -123.1171};
    var map = new google.maps.Map(document.getElementById('map'), {
      center: {lat: 49.2827, lng: -123.1207},
      zoom: 12
    });

    for (i = 0; i < markers1.length; i++) {
        addMarker(markers1[i]);
    }

    function addMarker(marker) {
        var title = marker[1];
        var pos = new google.maps.LatLng(marker[2], marker[3]);
        var content = marker[1];

        marker1 = new google.maps.Marker({
            title: title,
            position: pos,
            map: map
        });

        gmarkers1.push(marker1);

        google.maps.event.addListener(marker1, 'click', (function (marker1, content) {
            return function () {
                console.log('Gmarker 1 gets pushed');
                infowindow.setContent(content);
                infowindow.open(map, marker1);
                map.panTo(this.getPosition());
                map.setZoom(12);
                GetPhotos(marker[2], marker[3], '1km');                
            }
        })(marker1, content));
    }

    google.maps.event.addListener(infowindow, "closeclick", function(){
      $('#divImages > img').remove();
    });

    // ========= filtering Markers =====
    $('#MarkerList :checkbox').click(function() {
      var item = $('div#MarkerList input[type=checkbox]');
      for (i = 0; i < item.length; i++) {
        marker = gmarkers1[i];
          if (item[i].checked) {
            marker.setVisible(true);
          } else {
            marker.setVisible(false);
          }
      }       
    });

  }

  
</script>
<script async defer
  src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCbD_DJTXLyK3IpRu0BZFOyxPYDcMu5bGk&callback=initMap">
</script>
