
<h1>Hello World - Google Maps API</h1>
<br />
<div id="map" style="min-width: 600px; min-height: 600px;"></div>
<br />
<script type="text/javascript">
	var map;
    function initMap() {
        map = new google.maps.Map(document.getElementById('map'), {
          center: {lat: -34.397, lng: 150.644},
          zoom: 8
    	});
    }
</script>  
<script async defer
  src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCbD_DJTXLyK3IpRu0BZFOyxPYDcMu5bGk&callback=initMap">
</script>